{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">

		<div class="container-fluid p-0">

			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3><strong>Main</strong> Page</h3>
				</div>

				<div class="col-auto ml-auto text-right mt-n1">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
							<li class="breadcrumb-item"><a href="#">Issue Management & Visualisation</a></li>
\							<li class="breadcrumb-item active" aria-current="page">Main Page</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-xxl-5 d-flex">
					<div class="w-100">
						<div class="row">
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4"><i class="fad fa-comment-exclamation fa-lg"></i>&nbsp;&nbsp;Open issues</h5>
										<h1 class="mt-1 mb-3">{{open_issues}}</h1>
										<h4 style="color: lime;"><i class="fad fa-level-up fa-lg"></i>&nbsp;&nbsp;2 this week</h4>
										<div class="mb-1">
											<span class="text-muted">across</span>
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> {{open_issue_repos}}</span>
											<span class="text-muted">repositories</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">Issues triaged</h5>
										<h1 class="mt-1 mb-3">0</h1>
										<div class="mb-1">
											<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">this week</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4"><i class="fad fa-tasks fa-lg"></i>&nbsp;&nbsp;Issues assigned to you</h5>
										<h1 class="mt-1 mb-3">1</h1>
										<div class="mb-1">
											<span class="text-muted">across</span>
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> {{open_issue_repos}}</span>
											<span class="text-muted">repositories</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">Average severity</h5>
										<h1 class="mt-1 mb-3">8.2</h1>
										<div class="mb-1">
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 5.5 </span>
											<span class="text-muted">in tasks assigned to you</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0"><i class="fad fa-smoke fa-lg"></i>&nbsp;&nbsp;Issues word cloud<!-- Stacked barchart: Issues Open/Closed --></h5>
						</div>
						<div class="card-body py-3">
							{{ wordcloud|safe }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}