{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/d3/3.0.0/d3.min.js"></script>
<script type="text/javascript" src="/static/assets/js/placeholderData.js"></script>
<style>
.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;	
}

.main text {
	font: 12px sans-serif;	
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: black;
}

.miniItem {
	stroke-width: 6;	
}

.future {
	stroke: gray;
	fill: #ddd;
}

.past {
	stroke: green;
	fill: lightgreen;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}
</style>
{% endblock stylesheets %}

{% block content %}

<main class="content">

    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>{% if codeFileName is defined %}Code Tools{% else %}Issue Management Tools{% endif %}: {{reponame}}</strong></h3>
            </div>



            <div class="col-auto ml-auto text-right mt-n1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                        <li class="breadcrumb-item"><a href="/">Scrum Visualisation & Issue Management</a></li>
                        <li class="breadcrumb-item"><a href="/repo/{{repoowner}}/{{reponame}}">{{reponame}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% if codeFileName is defined %}Code Tools{% else %}Issue Management Tools{% endif %}</li>
                    </ol>
                </nav>
            </div>
        </div>

        {% if codeFileName is not defined %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4"><i class="fad fa-users fa-lg"></i>&nbsp;&nbsp;Contributors</h5>
                        {% for contributor in range(contributors|length) %}
                        <p><img src="{{ contributors[contributor]['avatar_url'] }}"
                                class="avatar img-fluid rounded mr-1">
                            <strong>{{ contributors[contributor]['login'] }}</strong> <span
                                class="badge rounded-pill bg-{{ contributorRoles[contributor][2] }}">{{ contributorRoles[contributor][1] }}</span>
                        </p>
                        {% endfor %}
                        <br><br>
                        <h5 class="card-title mb-4"><i class="fad fa-user-plus fa-lg"></i>&nbsp;&nbsp;Assign contributors to a team</h5>
                            <div class="row">
                         <div class="col-sm-6">
                        <select id="userSelect" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            {% for x in contributors %}
                            <option value="{{ x.login }}" style="background-image:url({{ x.avatar_url }});"><strong>{{ x.login }}</strong></option>
                            {% endfor %}
                            </select>
                            </div>

                             <div class="col-sm-6">
                            <select id="teamSelect" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <!--<option selected>Open this select menu</option>-->
                            <option value="developer" selected>Developer Team</option>
                            <option value="tester">Tester Team</option>
                            <option value="documentation">Documentation Team</option>
                            <option value="support">Support Team</option>
                        </select>
                            </div>
                        </div>
                        <script>
                            function assignTeam() {
                                let owner = '{{ repoowner }}';
                                let repo = '{{ reponame }}';
                                let collaborator = document.querySelector('#userSelect').value;
                                let role = document.querySelector('#teamSelect').value;
                                window.location.href = `/assign_team/${owner}/${repo}/${collaborator}/${role}`;
                            }
                        </script>
                        <button type="button" class="btn btn-primary" onclick="assignTeam()"><i class="fad fa-user-plus"></i> Assign</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            {% if codeFileName is defined %}
            <div class="col" style="width: 50%;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4"><i class="fad fa-code fa-lg"></i>&nbsp;&nbsp;{{ codeFileName }}</h5>
                        {{ parsed|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% if graph is defined %}
                        <h5 class="card-title mb-4"><i class="fad fa-project-diagram fa-lg"></i>&nbsp;&nbsp;Class UML
                            Diagram</h5>
                        {{ graph|safe }}
                        <br>
                        <br>
                        {% endif %}
                        <h5 class="card-title mb-4"><i class="fad fa-tools fa-lg"></i>&nbsp;&nbsp;Tools</h5>

                        <a class="btn btn-info btn-block{% if graph is defined %} disabled{% endif %}" type="button"
                            href="/generateClassUml/{{repoowner}}/{{reponame}}"><i
                                class="fad fa-project-diagram fa-lg"></i> Create UML Class Diagram</a>
                    </div>
                </div>
            </div>
        </div>

        {% if codeFileName is not defined %}
         <div class="row">
<!--            <div class="col-xl-6 col-xxl-5 d-flex">
                <div class="w-100">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-4"><i
                                            class="fad fa-comment-exclamation fa-lg"></i>&nbsp;&nbsp;Triage</h5>
                                    <button type="button" class="btn btn-success btn-lg">Start Automatic Triage</button>
                                </div>
                            </div>
                        </div> -->
                        <!-- 							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4"><i class="fad fa-comment-exclamation fa-lg"></i>&nbsp;&nbsp;Open issues</h5>
										<h1 class="mt-1 mb-3">{{open_issues}}</h1>
										<h4 style="color: lime;"><i class="fad fa-level-up fa-lg"></i>&nbsp;&nbsp;2 this week</h4>
										<div class="mb-1">
											<span class="text-muted">across</span>
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> {{open_issue_repos}}</span>
											<span class="text-muted">repositories</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">Issues triaged</h5>
										<h1 class="mt-1 mb-3">0</h1>
										<div class="mb-1">
											<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 0 </span>
											<span class="text-muted">this week</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4"><i class="fad fa-tasks fa-lg"></i>&nbsp;&nbsp;Issues assigned to you</h5>
										<h1 class="mt-1 mb-3">1</h1>
										<div class="mb-1">
											<span class="text-muted">across</span>
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> {{open_issue_repos}}</span>
											<span class="text-muted">repositories</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">Average severity</h5>
										<h1 class="mt-1 mb-3">8.2</h1>
										<div class="mb-1">
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 5.5 </span>
											<span class="text-muted">in tasks assigned to you</span>
										</div>
									</div>
								</div>
							</div> -->
<!--                     </div>
                </div>
            </div> -->
            <div class="col-xl-3 col-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0"><i class="fad fa-smoke fa-lg"></i>&nbsp;&nbsp;Issues word cloud
                            <!-- Stacked barchart: Issues Open/Closed -->
                        </h5>
                    </div>
                    <div class="card-body py-3">
                        {{ wordcloud|safe }}
                        <div class="chart chart-sm">
                            <canvas id="chartjs-dashboard-line"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-xxl-9">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0"><i class="fad fa-tasks-alt fa-lg"></i>&nbsp;&nbsp;Assigned Tasks
                        </h5>
                    </div>
                    <div class="card-body py-3" id="swimLaneDiv">
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-xxl-12"><!--d-flex-->
                <div class="card flex-fill">
                    <div class="card-header">

                        <h5 class="card-title mb-0"><i class="fad fa-bug fa-lg"></i>&nbsp;&nbsp;Issue Control</h5>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Issue number</th>
                                <th>Issue</th>
                                <th style="width: 24%;">Description</th>
                                <th class="d-none d-xl-table-cell">Start Date</th>
                                <th class="d-none d-xl-table-cell">End Date</th>
                                <th class="d-none d-md-table-cell">Assignee</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
				<script>
				function confirm(issueNumber) {
				 fetch(`/confirm/{{repoowner}}/{{reponame}}/${issueNumber}`).then(res=>{});
				}
				function reject(issueNumber) {
				 fetch(`/reject/{{repoowner}}/{{reponame}}/${issueNumber}`).then(res=>{});
				}
				function resolve(issueNumber) {
				 let pull_request_id = document.querySelector('#relatedPullRequest').value;
				 fetch(`/resolve/{{repoowner}}/{{reponame}}/${issueNumber}/99999`).then(res=>{
                    console.log(res);
                    console.log('Replace block with "Success! <a href="#" target="_blank">View on GitHub</a>');
                 });
                 // fetch(`/resolve/{{repoowner}}/{{reponame}}/${issueNumber}?pull_request_id=${pull_request_id}`).then(res=>{});
				}
				function delay(issueNumber) {
				 let reason= encodeURI(document.querySelector('#inpDelayReason').value);
				 fetch(`/delay/{{repoowner}}/{{reponame}}/${issueNumber}?reason=${reason}`).then(res=>{});
				}
				</script>
				{% for x in tasks %}
				<tr>
				<td>{{x.number}}</td>
				<td>{{x.title}}</td>
				<td>{{x.body|safe}}</td>
				<td class="d-none d-xl-table-cell">{{x.startDate}}</td>
				<td class="d-none d-xl-table-cell">{{x.endDate}}</td>
				<td>{% if x.assignee is not none %}<img src="{{ x.assignee.avatar_url }}"
								class="avatar img-fluid rounded mr-1" {% if x.date is not defined %}style="color: lightgray;"{% endif %}><strong>{{ x.assignee.login }}</strong>{% else %}None{% endif %}</td>
				<td>
				{% if x.date is not defined %}
                <span style="display: inline-flex;">
				<button type="button" onclick="confirm({{x.number}});" class="btn btn-light"><i class="fad fa-check-circle"></i> Create task</button> <button type="button" onclick="reject({{x.number}});" class="btn btn-secondary"><i class="fad fa-trash-alt"></i> Invalid issue</button>
				</span>
                {% else %}
				<span style="display: block; margin: 4px; width: 50%;"><select id="relatedPullRequest" class="form-select"><option selected value="none">Pick a pull request</option>{% for pr in pullRequests %}<option id="{{pr.number}}">#{{pr.number}} - {{pr.title}}</option>{% endfor %}</select><br><button type="button" onclick="resolve({{x.number}});" class="btn btn-success"><i class="fad fa-clipboard-check"></i> Resolve task</button></span>
				<!--Drop-down calendar FROM~TO goes here--><span style="display: block; margin: 4px; width: 50%;"><span style="display: inline-flex;"><input type="text" class="form-control" id="inpDelayReason" aria-describedby="lblReason" placeholder="Reason for the delay"></span><br><br><button type="button" onclick="delay({{x.number}});" class="btn btn-danger"><i class="fad fa-clock"></i> Delay task</button></span>
				{% endif %}
				</td>
				</tr>
				{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if codeFileName is not defined %}
        <div class="row">
            <!-- <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0"><i class="fad fa-shapes fa-lg fa-fw"></i>&nbsp;&nbsp;Issues Topic
                        </h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas id="chartjs-dashboard-pie"></canvas>
                                </div>
                            </div>

                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Documentation</td>
                                        <td class="text-right">4306</td>
                                    </tr>
                                    <tr>
                                        <td>Logic</td>
                                        <td class="text-right">3801</td>
                                    </tr>
                                    <tr>
                                        <td>Feature request</td>
                                        <td class="text-right">1689</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Real-Time</h5>
                    </div>
                    <div class="card-body px-4">
                        <div id="world_map" style="height:350px;"></div>
                    </div>
                </div>
            </div> -->
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                <div class="card flex-fill">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Calendar</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="chart">
                                <div id="datetimepicker-dashboard"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            
            <!-- <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Monthly Sales</h5>
                    </div>
                    <div class="card-body d-flex w-100">
                        <div class="align-self-center chart chart-lg">
                            <canvas id="chartjs-dashboard-bar"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    var data = placeholderData(),
        lanes = data.lanes,
        items = data.items,
        now = new Date();

    var margin = {
            top: 20,
            right: 15,
            bottom: 15,
            left: 120
        },
        width = 1260 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom,
        miniHeight = lanes.length * 12 + 50,
        mainHeight = height - miniHeight - 50;

    var x = d3.time.scale()
        .domain([d3.time.sunday(d3.min(items, function (d) {
                return d.start;
            })),
            d3.max(items, function (d) {
                return d.end;
            })
        ])
        .range([0, width]);
    var x1 = d3.time.scale().range([0, width]);

    var ext = d3.extent(lanes, function (d) {
        return d.id;
    });
    var y1 = d3.scale.linear().domain([ext[0], ext[1] + 1]).range([0, mainHeight]);
    var y2 = d3.scale.linear().domain([ext[0], ext[1] + 1]).range([0, miniHeight]);

    var chart = d3.select('#swimLaneDiv')
        .append('svg:svg')
        .attr('width', width + margin.right + margin.left)
        .attr('height', height + margin.top + margin.bottom)
        .attr('class', 'chart');

    chart.append('defs').append('clipPath')
        .attr('id', 'clip')
        .append('rect')
        .attr('width', width)
        .attr('height', mainHeight);

    var main = chart.append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
        .attr('width', width)
        .attr('height', mainHeight)
        .attr('class', 'main');

    var mini = chart.append('g')
        .attr('transform', 'translate(' + margin.left + ',' + (mainHeight + 60) + ')')
        .attr('width', width)
        .attr('height', miniHeight)
        .attr('class', 'mini');

    // Draw the lanes for the main chart
    main.append('g').selectAll('.laneLines')
        .data(lanes)
        .enter().append('line')
        .attr('x1', 0)
        .attr('y1', function (d) {
            return d3.round(y1(d.id)) + 0.5;
        })
        .attr('x2', width)
        .attr('y2', function (d) {
            return d3.round(y1(d.id)) + 0.5;
        })
        .attr('stroke', function (d) {
            return d.label === '' ? 'white' : 'lightgray'
        });

    main.append('g').selectAll('.laneText')
        .data(lanes)
        .enter().append('text')
        .text(function (d) {
            return d.label;
        })
        .attr('x', -10)
        .attr('y', function (d) {
            return y1(d.id + .5);
        })
        .attr('dy', '0.5ex')
        .attr('text-anchor', 'end')
        .attr('class', 'laneText');

    // draw the lanes for the mini chart
    mini.append('g').selectAll('.laneLines')
        .data(lanes)
        .enter().append('line')
        .attr('x1', 0)
        .attr('y1', function (d) {
            return d3.round(y2(d.id)) + 0.5;
        })
        .attr('x2', width)
        .attr('y2', function (d) {
            return d3.round(y2(d.id)) + 0.5;
        })
        .attr('stroke', function (d) {
            return d.label === '' ? 'white' : 'lightgray'
        });

    mini.append('g').selectAll('.laneText')
        .data(lanes)
        .enter().append('text')
        .text(function (d) {
            return d.label;
        })
        .attr('x', -10)
        .attr('y', function (d) {
            return y2(d.id + .5);
        })
        .attr('dy', '0.5ex')
        .attr('text-anchor', 'end')
        .attr('class', 'laneText');

    // draw the x axis
    var xDateAxis = d3.svg.axis()
        .scale(x)
        .orient('bottom')
        .ticks(d3.time.mondays, (x.domain()[1] - x.domain()[0]) > 15552e6 ? 2 : 1)
        .tickFormat(d3.time.format('%d'))
        .tickSize(6, 0, 0);

    var x1DateAxis = d3.svg.axis()
        .scale(x1)
        .orient('bottom')
        .ticks(d3.time.days, 1)
        .tickFormat(d3.time.format('%a %d'))
        .tickSize(6, 0, 0);

    var xMonthAxis = d3.svg.axis()
        .scale(x)
        .orient('top')
        .ticks(d3.time.months, 1)
        .tickFormat(d3.time.format('%b %Y'))
        .tickSize(15, 0, 0);

    var x1MonthAxis = d3.svg.axis()
        .scale(x1)
        .orient('top')
        .ticks(d3.time.mondays, 1)
        .tickFormat(d3.time.format('%b - Week %W'))
        .tickSize(15, 0, 0);

    main.append('g')
        .attr('transform', 'translate(0,' + mainHeight + ')')
        .attr('class', 'main axis date')
        .call(x1DateAxis);

    main.append('g')
        .attr('transform', 'translate(0,0.5)')
        .attr('class', 'main axis month')
        .call(x1MonthAxis)
        .selectAll('text')
        .attr('dx', 5)
        .attr('dy', 12);

    mini.append('g')
        .attr('transform', 'translate(0,' + miniHeight + ')')
        .attr('class', 'axis date')
        .call(xDateAxis);

    mini.append('g')
        .attr('transform', 'translate(0,0.5)')
        .attr('class', 'axis month')
        .call(xMonthAxis)
        .selectAll('text')
        .attr('dx', 5)
        .attr('dy', 12);

    // draw a line representing today's date
    main.append('line')
        .attr('y1', 0)
        .attr('y2', mainHeight)
        .attr('class', 'main todayLine')
        .attr('clip-path', 'url(#clip)');

    mini.append('line')
        .attr('x1', x(now) + 0.5)
        .attr('y1', 0)
        .attr('x2', x(now) + 0.5)
        .attr('y2', miniHeight)
        .attr('class', 'todayLine');

    // draw the items
    var itemRects = main.append('g')
        .attr('clip-path', 'url(#clip)');

    mini.append('g').selectAll('miniItems')
        .data(getPaths(items))
        .enter().append('path')
        .attr('class', function (d) {
            return 'miniItem ' + d.class;
        })
        .attr('d', function (d) {
            return d.path;
        });

    // invisible hit area to move around the selection window
    mini.append('rect')
        .attr('pointer-events', 'painted')
        .attr('width', width)
        .attr('height', miniHeight)
        .attr('visibility', 'hidden')
        .on('mouseup', moveBrush);

    // draw the selection area
    var brush = d3.svg.brush()
        .x(x)
        .extent([d3.time.monday(now), d3.time.saturday.ceil(now)])
        .on("brush", display);

    mini.append('g')
        .attr('class', 'x brush')
        .call(brush)
        .selectAll('rect')
        .attr('y', 1)
        .attr('height', miniHeight - 1);

    mini.selectAll('rect.background').remove();
    display();

    function display() {

        var rects, labels, minExtent = d3.time.day(brush.extent()[0]),
            maxExtent = d3.time.day(brush.extent()[1]),
            visItems = items.filter(function (d) {
                return d.start < maxExtent && d.end > minExtent
            });

        mini.select('.brush').call(brush.extent([minExtent, maxExtent]));

        x1.domain([minExtent, maxExtent]);

        if ((maxExtent - minExtent) > 1468800000) {
            x1DateAxis.ticks(d3.time.mondays, 1).tickFormat(d3.time.format('%a %d'))
            x1MonthAxis.ticks(d3.time.mondays, 1).tickFormat(d3.time.format('%b - Week %W'))
        } else if ((maxExtent - minExtent) > 172800000) {
            x1DateAxis.ticks(d3.time.days, 1).tickFormat(d3.time.format('%a %d'))
            x1MonthAxis.ticks(d3.time.mondays, 1).tickFormat(d3.time.format('%b - Week %W'))
        } else {
            x1DateAxis.ticks(d3.time.hours, 4).tickFormat(d3.time.format('%I %p'))
            x1MonthAxis.ticks(d3.time.days, 1).tickFormat(d3.time.format('%b %e'))
        }


        //x1Offset.range([0, x1(d3.time.day.ceil(now) - x1(d3.time.day.floor(now)))]);

        // shift the today line
        main.select('.main.todayLine')
            .attr('x1', x1(now) + 0.5)
            .attr('x2', x1(now) + 0.5);

        // update the axis
        main.select('.main.axis.date').call(x1DateAxis);
        main.select('.main.axis.month').call(x1MonthAxis)
            .selectAll('text')
            .attr('dx', 5)
            .attr('dy', 12);

        // upate the item rects
        rects = itemRects.selectAll('rect')
            .data(visItems, function (d) {
                return d.id;
            })
            .attr('x', function (d) {
                return x1(d.start);
            })
            .attr('width', function (d) {
                return x1(d.end) - x1(d.start);
            });

        rects.enter().append('rect')
            .attr('x', function (d) {
                return x1(d.start);
            })
            .attr('y', function (d) {
                return y1(d.lane) + .1 * y1(1) + 0.5;
            })
            .attr('width', function (d) {
                return x1(d.end) - x1(d.start);
            })
            .attr('height', function (d) {
                return .8 * y1(1);
            })
            .attr('class', function (d) {
                return 'mainItem ' + d.class;
            });

        rects.exit().remove();

        // update the item labels
        labels = itemRects.selectAll('text')
            .data(visItems, function (d) {
                return d.id;
            })
            .attr('x', function (d) {
                return x1(Math.max(d.start, minExtent)) + 2;
            });

        labels.enter().append('text')
            .text(function (d) {
                return d.name;
            })
            .attr('x', function (d) {
                return x1(Math.max(d.start, minExtent)) + 2;
            })
            .attr('y', function (d) {
                return y1(d.lane) + .4 * y1(1) + 0.5;
            })
            .attr('text-anchor', 'start')
            .attr('class', 'itemLabel');

        labels.exit().remove();
    }

    function moveBrush() {
        var origin = d3.mouse(this),
            point = x.invert(origin[0]),
            halfExtent = (brush.extent()[1].getTime() - brush.extent()[0].getTime()) / 2,
            start = new Date(point.getTime() - halfExtent),
            end = new Date(point.getTime() + halfExtent);

        brush.extent([start, end]);
        display();
    }

    function getPaths(items) {
        var paths = {},
            d, offset = .5 * y2(1) + 0.5,
            result = [];
        for (var i = 0; i < items.length; i++) {
            d = items[i];
            if (!paths[d.class]) paths[d.class] = '';
            paths[d.class] += ['M', x(d.start), (y2(d.lane) + offset), 'H', x(d.end)].join(' ');
        }

        for (var className in paths) {
            result.push({
                class: className,
                path: paths[className]
            });
        }

        return result;
    }
});
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 225);
        gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
        gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: "line",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov",
                    "Dec"
                ],
                datasets: [{
                    label: "Sales ($)",
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: window.theme.primary,
                    data: [
                        2115,
                        1562,
                        1584,
                        1892,
                        1587,
                        1923,
                        2566,
                        2448,
                        2805,
                        3438,
                        2917,
                        3327
                    ]
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 1000
                        },
                        display: true,
                        borderDash: [3, 3],
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
                labels: ["Chrome", "Firefox", "IE"],
                datasets: [{
                    data: [4306, 3801, 1689],
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar"), {
            type: "bar",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov",
                    "Dec"
                ],
                datasets: [{
                    label: "This year",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                    barPercentage: .75,
                    categoryPercentage: .5
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        stacked: false,
                        ticks: {
                            stepSize: 20
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        gridLines: {
                            color: "transparent"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var markers = [{
                coords: [31.230391, 121.473701],
                name: "Shanghai"
            },
            {
                coords: [28.704060, 77.102493],
                name: "Delhi"
            },
            {
                coords: [6.524379, 3.379206],
                name: "Lagos"
            },
            {
                coords: [35.689487, 139.691711],
                name: "Tokyo"
            },
            {
                coords: [23.129110, 113.264381],
                name: "Guangzhou"
            },
            {
                coords: [40.7127837, -74.0059413],
                name: "New York"
            },
            {
                coords: [34.052235, -118.243683],
                name: "Los Angeles"
            },
            {
                coords: [41.878113, -87.629799],
                name: "Chicago"
            },
            {
                coords: [51.507351, -0.127758],
                name: "London"
            },
            {
                coords: [40.416775, -3.703790],
                name: "Madrid "
            }
        ];
        var map = new JsVectorMap({
            map: "world",
            selector: "#world_map",
            zoomButtons: true,
            markers: markers,
            markerStyle: {
                initial: {
                    r: 9,
                    strokeWidth: 7,
                    stokeOpacity: .4,
                    fill: window.theme.primary
                },
                hover: {
                    fill: window.theme.primary,
                    stroke: window.theme.primary
                }
            }
        });
        window.addEventListener("resize", () => {
            map.updateSize();
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
            nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
        });
    });
</script>

{% endblock javascripts %}
