
			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								Draft layout
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" 
									   target="_blank" href="#">Lorem ipsum</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" 
									   target="_blank" href="#">Dolor sit amet</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

